.DS_Store
node_modules/
dist/
examples/dist/
KoLmafia/scripts/libram.js
.vscode/
src/**/*.js
src/**/*.d.ts
/docs/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
