name: Publish package to NPM
permissions:
  id-token: write # Required for OIDC
  contents: read
on:
  release:
    types: [created]
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
      - run: yarn install --immutable
      - run: npm install -g npm@latest
      - run: npm publish
